<h1>Pictures#index</h1>

<% @pictures.each do |picture| %>
  <p><%= picture.title %>, <%= picture.artist %></p>
  <img src="<%= picture.url %>"
<% end %>
<p>Find me in app/views/pictures/index.html.erb</p>
